<!-- Inventory graphs start here  -->

<button class='btn btn-primary' id='logout'>logout</button>
<div id='inventory' class='inventory--dv'>
  <h2>Inventory</h2>

  <div id='chartContainer' style='height: 370px; width: 100%;'></div>

</div>
<!-- Inventory graphs will end here  -->

<div id='menu'>
  <h2>Menu</h2>
  <form id='orderForm' action=''>
    {{#each hamburgers}}
      <div class='menu-item'>
        <img src='{{this.photo}}' />
        <div class='burger-info'>
          <h3>{{this.burger_name}}</h3>
          <p>{{this.description}}</p>
          <div class='Burger'>
            <input
              type='number'
              min='0'
              name='{{this.burger_name}}'
              placeholder='Burguers'
              data-index='{{@index}}'
            />
          </div>
        </div>
      </div>
    {{/each}}
    <!-- submit btn -->
    <button type='submit'>Submit</button>
  </form>
</div>

<!-- Menu end here -->

<script src='public/js/logout.js'></script>
<script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
<script src='public/js/menu.js'></script>
